{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-users"></i> Membres <a href="{{ path('admin_user_new') }}" class="btn btn-primary btn-sm" role="button"><i class="fas fa-plus"></i></a></h1>
    </div>

    {% include '_elements/_flash_message.html.twig' %}

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Courriel</th>
                    <th>Identifiant</th>
                    <th>Telephone</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="{{user.isEnabled?'':'table-secondary'}}">
                    <td><a href="{{ path('admin_user_show', {'id': user.id}) }}">{{ user.name }}</a></td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.phonenumber }}</td>
                    <td>
                        <a href="{{ path('admin_user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}"><i class="fas fa-user-edit"></i></a>
                        <a href="{{ path('index_index', {'_switch_user': user.username}) }}"><i class="fas fa-house-user"></i></a>
                        {% if user.isEnabled %}
                            <a href="{{ path('admin_user_disable', {'id': user.id}) }}" class="text-success" title="Désactiver"><i class="fas fa-power-off"></i></a>
                        {% else %}
                            <a href="{{ path('admin_user_enable', {'id': user.id}) }}" class="text-danger" title="Activer"><i class="fas fa-power-off"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucun utilisateur trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="navigation text-center">
            {{ knp_pagination_render(users, null, {}, {
                'align': 'center',
            }) }}
        </div>
    </div>
    
{% endblock %}
