{% extends 'base.html.twig' %}

{% block title %}Membre #{{user.id}} - {{ user.firstname}} {{ user.name }} {% endblock %}

{% block body %}
    {{ include('admin/user/_header.html.twig', {'nav_current': 'user'}) }}

    {% include '_elements/_flash_message.html.twig' %}

    

    <div class="table-responsive mb-3">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Identifiant</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Courrier</th>
                    <td>{% if user.email %}<a href="mailto:{{user.email}}">{{ user.email }}</a>{% endif %}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ user.phonenumber }}</td>
                </tr>
                <tr>
                    <th>Commentaire</th>
                    <td>{{ user.comment|nl2br }}</td>
                </tr>
                <tr>
                    <th>Mots clés</th>
                    <td>{% for tag in user.tags %} <span class="bg-info p-2 rounded">{{ tag.name }}</span>{% endfor %}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <div class="btn-group mt-3">
            <a href="{{ path('admin_user_index') }}" class="btn btn-secondary"><i class="fas fa-list"></i> retour</a>
            {% if user.isEnabled %}
                <a href="{{ path('admin_user_disable', {'id': user.id}) }}" class="btn btn-outline-danger"><i class="fas fa-power-off"></i> Desactiver</a>
            {% else %}
                <a href="{{ path('admin_user_enable', {'id': user.id}) }}" class="btn btn-outline-success"><i class="fas fa-power-off"></i> Activer</a>
            {% endif %}
            <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-primary"><i class="far fa-edit"></i> Modifier</a>
        </div>
    </div>

{% endblock %}
