{% extends 'base.html.twig' %}

{% block title %}Membre #{{user.id}} - {{ user.firstname}} {{ user.name }} {% endblock %}

{% block body %}
    {{ include('admin/user/_header.html.twig', {'nav_current': 'user'}) }}

    {% include '_elements/_flash_message.html.twig' %}

    

    <div class="table-responsive mb-3">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Courrier</th>
                    <td>{% if user.email %}<a href="mailto:{{user.email}}">{{ user.email }}</a>{% endif %}</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td>{{ user.phonenumber }}</td>
                </tr>
                <tr>
                    <th>Categorie</th>
                    <td>{{ user.userCategory.name }}</td>
                </tr>
                <tr>
                    <th>Inscription</th>
                    <td>{{ user.subscriptionTypeLabel }}</td>
                </tr>
                <tr>
                    <th>Actif</th>
                    <td>{{ user.enabled?'Oui':'Non' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center mb-3">
        <div class="btn-group mt-3">
            <a href="{{ path('admin_user_index') }}" class="btn btn-secondary"><i class="fas fa-list"></i> Retour</a>
            <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-primary"><i class="fas fa-user-edit"></i> Modifier</a>
            {% if user.enabled %}
            <a href="{{ path('admin_user_disable', {'id': user.id}) }}" class="btn btn-secondary">Desactiver</a>
            {% else %}
            <a href="{{ path('admin_user_enable', {'id': user.id}) }}" class="btn btn-secondary">Activer</a>
            {% endif %}
        </div>
    </div>
    

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="commitments-tab" data-bs-toggle="tab" data-bs-target="#commitments" type="button" role="tab" aria-controls="commitments" aria-selected="true"><i class="fas fa-file-signature"></i> Engagements</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="futur-jobs-tab" data-bs-toggle="tab" data-bs-target="#futur-jobs" type="button" role="tab" aria-controls="futur-jobs" aria-selected="false"><i class="fas fa-hard-hat"></i> Créneaux à venir</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="past-jobs-tab" data-bs-toggle="tab" data-bs-target="#past-jobs" type="button" role="tab" aria-controls="past-jobs" aria-selected="false"><i class="fas fa-hard-hat"></i> Créneaux passés</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="past-jobs-tab" data-bs-toggle="tab" data-bs-target="#past-jobs" type="button" role="tab" aria-controls="past-jobs" aria-selected="false"><i class="fas fa-hard-hat"></i> Créneaux passés</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active p-2 border border-top-0" id="commitments" role="tabpanel" aria-labelledby="commitments-tab">
            
        </div>
        <div class="tab-pane fade" id="futur-jobs" role="tabpanel" aria-labelledby="futur-jobs-tab">
            {% include 'admin/user/_futur_jobs.html.twig' %}
        </div>
        <div class="tab-pane fade" id="past-jobs" role="tabpanel" aria-labelledby="contact-tab">
            {% include 'admin/user/_past_jobs.html.twig' %}
        </div>
    </div>

    

    




{% endblock %}
