{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="fas fa-user"></i> Mon profil</h1>
</div>

{% include '_elements/_flash_message.html.twig' %}

<div class="row">
    <div class="col">
        <div class="table-responsive mb-3">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Identifiant</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{% if user.email %}<a href="mailto:{{user.email}}">{{ user.email }}</a>{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ user.phonenumber }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card">
            <div class="card-header fw-bold">
                Ajouter mes créneaux à mon agenda personnel
            </div>
            <div class="card-body">
                <p class="card-text">
                Pour synchroniser Kreno à votre agenda personnel (Google Agenda, Android, IOS, ...), 
                copiez le lien ci-dessous puis rendez-vous dans votre agenda et ajoutez un "calendrier avec abonnement" ou "à partir d'une url/un lien". 
                (Attention : la mise à jour peut parfois prendre jusqu'à 24 heures.)
                </p>
                
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Agenda personnel (privé : à ne pas partager)</strong> : 
                    {% if( user.calendarToken ) %}
                        <a href="{{ url('ical_personnal_calendar', {'token': user.calendarToken}) }}">{{ url('ical_personnal_calendar', {'token': user.calendarToken}) }}</a>
                    {% else %}
                        <a href="{{ path('myaccount_new_calendar_token') }}" class="btn btn-sm btn-primary">Générer le lien de votre agenda privé</a>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <strong>Agenda créneaux La Source :</strong>
                    <a href="{{ url('ical_calendar') }}">{{ url('ical_calendar') }}</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="list-group-item">
                    <strong>Agenda superviseur (privé : à ne pas partager)</strong> : 
                    {% if( user.calendarToken ) %}
                        <a href="{{ url('ical_supervisor_calendar', {'token': user.calendarToken}) }}">{{ url('ical_supervisor_calendar', {'token': user.calendarToken}) }}</a>
                    {% else %}
                        <a href="{{ path('myaccount_new_calendar_token') }}" class="btn btn-sm btn-primary">Générer le lien de votre agenda du superviseur</a>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="text-center">
            <div class="btn-group mt-3">
                <a href="{{ path('myaccount_change_password') }}" class="btn btn-primary"><i class="fas fa-key"></i> Modifier mon mot de passe</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
