{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="fas fa-user"></i> Mon profil</h1>
</div>

{% include '_elements/_flash_message.html.twig' %}

<div class="row">
    <div class="col">
        <div class="table-responsive mb-3">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Identifiant</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Courrier</th>
                        <td>{% if user.email %}<a href="mailto:{{user.email}}">{{ user.email }}</a>{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ user.phonenumber }}</td>
                    </tr>
                    <tr>
                        <th><i class="fas fa-calendar"></i> Agenda personnel (privé : à ne pas partager)</th>
                    {% if( user.calendarToken ) %}
                        <td><a href="{{ url('ical_personnal_calendar', {'token': user.calendarToken}) }}">{{ url('ical_personnal_calendar', {'token': user.calendarToken}) }}</a></td>
                    {% else %}
                        <td><a href="{{ path('myaccount_new_calendar_token') }}" class="btn btn-sm btn-primary">Générer un agenda privé</a></td>
                    {% endif %}
                    </tr>
                    <tr>
                        <th><i class="fas fa-calendar"></i> Agenda global</th>
                        <td><a href="{{ url('ical_calendar') }}">{{ url('ical_calendar') }}</a></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="text-center">
            <div class="btn-group mt-3">
                <a href="{{ path('myaccount_change_password') }}" class="btn btn-primary"><i class="fas fa-key"></i> Modifier mon mot de passe</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
