
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-flask"></i> Tâches : Générer le prochain cycle </h1>
    </div>

    {% include '_elements/_flash_message.html.twig' %}
    


    <div class="row justify-content-md-center">
        <div class="col-md-6 text-align-center">
            Le prochain cycle à générer sera entre le {{nextStartDate|date('d/m/Y')}} et le {{nextFinishDate|date('d/m/Y')}}.

            <form method="post" action="" onsubmit="return confirm('Confirmez-vous la génération du cyle ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('generate-cycle' ~ nextStartDate|date('Ymd')) }}">
                
                <div class="btn-group mt-3">
                    <a href="{{ path('admin_task_index') }}" class="btn btn-secondary"><i class="fas fa-list"></i> retour</a>
                    <button class="btn btn-primary"><i class="far fa-save"></i> {{ button_label|default('Générer') }}</button>
                </div>

            </form>
        </div>
    </div>

    



{% endblock %}
