{% extends 'base.html.twig' %}

{% block title %}Paramétrages{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-wrench"></i> Paramètrages <a href="{{ path('admin_param_new') }}" class="btn btn-primary btn-sm" role="button"><i class="fas fa-plus"></i></a></h1>
    </div>

    {% include '_elements/_flash_message.html.twig' %}

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Valeur</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for param in params %}
                <tr>
                    <td>{{ param.id }}</td>
                    <td>{{ param.code }}</td>
                    <td>{{ param.value|slice(0, 50) }}</td>
                    <td>
                        <a href="{{ path('admin_param_edit', {'id': param.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
                        {% include('admin/param/_delete_form.html.twig') %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun paramètrage</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
