{% extends 'base.html.twig' %}

{% block title %}Semaine {{ week.displayName }}{% endblock %}

{% block body %}
<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="fas fa-calendar-alt"></i> {{ week.getDisplayName}}</h1>
</div>

{% include '_elements/_flash_message.html.twig' %}

<div class="pb-2 mb-3 border-bottom">
    <div class="btn-group col" role="group">
        <a href="{{ path('admin_week_previous', {'id': week.id}) }}" class="btn btn-outline-secondary"><i class="fas fa-backward"></i> Précédente</a>
        <a href="{{ path('admin_week_index') }}" class="btn btn-outline-secondary"><i class="fas fa-list"></i></a>
        <a href="{{ path('admin_week_next', {'id': week.id}) }}" class="btn btn-outline-secondary"><i class="fas fa-forward"></i> Suivante</a>
        <a href="{{ path('admin_timeslot_new_forweek', {'week': week.id}) }}" class="btn btn-outline-primary">Ajout un créneau</a>
        <a href="{{ path('admin_week_edit', {'id': week.id}) }}" class="btn btn-outline-primary">Modifier</a>
    </div>
</div>

{% if week %}
<div>
    <div class="row align-items-start mb-3">
        {% for day in week.getDays %}
        <div class="col text-center">
            <strong>{{ day.date|date('l')|trans(domain='app') }} {{ day.date|date('d/m') }}</strong>
        </div>
        {% endfor %}
    </div>
    <div class="row align-items-start">
        {% for day in week.getDays %}
        <div class="col">
            {% for timeslot in day.timeslots %}
                <div class="card mb-3 border-dark">
                    <div class="
                        card-header
                        {{ timeslot.isOpen()?'bg-open'}}
                        {{ timeslot.isClosed()?'bg-closed'}}
                        {{ (timeslot.isValidated() or timeslot.isCommitmentLogged()) ?'bg-validated'}}
                        text-center
                    ">
                        <a href="{{ path('admin_timeslot_show', {'id': timeslot.id}) }}">{{ timeslot.getDisplayName }}</a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ timeslot.start|date('H:i') }} à {{ timeslot.finish|date('H:i') }}
                        </p>
                    </div>
                    {% if not timeslot.isClosed() %}
                        <ul class="list-group list-group-flush">
                        {% for job in timeslot.managerJobs %}
                        <li class="list-group-item {{ job.user?'bg-light-green':'bg-light-yellow'}} ">
                            <i class="fas fa-user-tie"></i> 
                            {{ job.user?job.user.firstname:'libre' }} {{ job.user?job.user.name }}
                        </li>
                        {% endfor %}
                        {% for job in timeslot.getNoManagerJobs %}
                            <li class="list-group-item {{ job.user?'bg-light-green':'bg-light-yellow'}} ">
                                {% if job.user %}
                                {{job.user.firstname}} {{job.user.name}}
                                {% else %}
                                libre
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</div>
{% endif %}

{% endblock %}
