{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Krneo{% endblock %}

{% block body %}
<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Bienvenue sur <i class="fas fa-user-clock"></i> Kreno</h1>
</div>

<div class="row">
    <div class="col">
        <h2 class="h3">Bonjour {{app.user.firstname}} !</h2>
        
        <div class="card mb-3">
            <div class="card-header fw-bold"><i class="fas fa-hard-hat"></i> Mes prochains créneaux</div>
            <div class="card-body">
                <ul>
                    {% for job in nextJobs %}
                    <li><a href="{{ path('timeslot_show', {'id':job.timeslot.id}) }}">{{job.timeslot.getDisplayDateInterval}} - {{ job.timeslot.timeslotType.name }}</a></li>
                    {% else %}
                    <li>Aucun créneau prévu dans les 45 prochains jours</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header fw-bold"><i class="fas fa-hard-hat"></i> S'inscrire à un créneau</div>
            <div class="card-body">
                <ol>
                    <li>Va sur le <a href="{{ path('schedule_current') }}">planning</a></li>
                    <li>Sélectionne un créneau de libre</li>
                    <li>Et confirme ton inscription</li>
                </ol>
            </div>
        </div>

    </div>
    <div class="col">
        
        <div class="card mb-3">
            <div class="card-header fw-bold"><i class="fas fa-file-signature"></i> Mon engagement en cours</div>
            <div class="card-body">
                {% if currentCommitmentContract %}
                    {% include 'index/_currentCommitmentContract.html.twig' with {'contract': currentCommitmentContract} %}
                {% else %}
                    <p class="card-text">Aucun engagement en cours</p>
                {% endif %}
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header fw-bold"><i class="fas fa-balance-scale"></i> Mon solde d'engagement</div>
            <div class="card-body">
                {% include 'index/_balanceCommimentLog.html.twig' %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
