{% extends 'base_noauth.html.twig' %}

{% block title %}Bienvenue sur Kreno{% endblock %}

{% block body %}
   

    <div class="row mt-5 justify-content-md-center">
        <div class="col-md-auto">

            <div class="card">
                <div class="card-header text-center">Identification</div>
                <div class="card-body text-center">
                    <form action="{{ path('login') }}" method="post">
                     {% if error %}
                        <div class="mb-2 alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="mb-2">
                        <label for="username" style="width:10rem">Identifiant :</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                    </div>
                    <div class="mb-2">
                        <label for="password" style="width:10rem">Mot de passe :</label>
                        <input type="password" id="password" name="_password"/>
                    </div>


                        {# If you want to control the URL the user is redirected to on success
                        <input type="hidden" name="_target_path" value="/account"/> #}

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="">
                        <button type="submit" class="btn btn-secondary">Entrer</button><br />
                        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
                    </div>
                    </form>
                </div>
            </div>
    
        </div>
    </div>
{% endblock %}