{% form_theme form with ['_form/_form_theme.html.twig', _self] %}

{% import _self as formMacros %}

{% macro printRegularTimeslotRow(regularTimeslot) %}
    <tr data-item>
        <td>{{ form_widget(regularTimeslot.timeslotTemplate) }}</td>
        <td>
            <button type="button" class="btn btn-danger btn-sm" data-entry-action="remove">
                <i class="fas fa-trash-alt"></i>
            </button>
        </td>
    </tr>
{% endmacro %}


{{ form_start(form) }}
    {{ form_row(form.startCycle) }}
    {{ form_row(form.finishCycle) }}
    {{ form_row(form.type) }}

    <div data-container>
        <h3 class="mt-3">Postes réguliers <button type="button" class="add_item_link btn btn-primary btn-sm" data-collection-holder-class="regularTimeslots" data-entry-action="add"><i class="fas fa-plus"></i></button></h3>

        <div class="table-responsive">
            <table class="jobs table table-bordered">
                <thead>
                    <tr>
                        <th>Créneau</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody
                    data-index="{{ form.regularTimeslots|length > 0 ? form.regularTimeslots|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ formMacros.printRegularTimeslotRow(form.regularTimeslots.vars.prototype)|e('html_attr') }}"
                >
                {% for regularTimeslot in form.regularTimeslots %}
                    {{ formMacros.printRegularTimeslotRow(regularTimeslot) }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-3 clearfix">
        <div class="btn-group float-end">
            <a href="{{ path('admin_commitment_contract_index', {'user': user.id}) }}" class="btn btn-secondary"><i class="fas fa-list"></i> retour</a>
            <button class="btn btn-primary"><i class="far fa-save"></i> {{ button_label|default('Enregister') }}</button>
        </div>
    </div>
    <div class="card bg-light mt-3">
        <div class="card-body">
            <p class="card-title h5"><i class="fas fa-info"></i> Informations</p>
            <ul>
                <li>Un engagement commence et se termine durant un cycle. Pour un engagement, sur un cycle le premier et le dernier cycle sont identique.</li>
                <li>
                    L'inscription à des créneaux réguliers se fait à partir des <em>semaines et créneaux modèles</em>. <br />
                    L'inscription est automatique pour toute les cycles fututes générés ou pas.<br />
                    En cas de changement de l'inscription (modification ou suppression) celle-ci impact uniquement les créneaux futures.
                </li>
                <li>Il est toujours possible d'inscrire le coopérateur de manière volante sans impacter le créneau régulier.</li>
                <li>
                    Si vous souhaitez modifier/supprimer un créneau régulier ponctuellement, il ne faut pas modifier l'inscription ici, mais directement dans le planning.<br />
                    Si par la suite, vous modifiez l'inscription du créneau régulier ici, ça impactera tous les créneaux du future.
                </li>
            </ul>
        </div>
    </div>

{{ form_end(form) }}

