{% extends 'base.html.twig' %}

{% block title %}Modèle semaine {{ week_template.name}} {% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-calendar-alt"></i> Modèle semaine "{{ week_template.name}}" </h1>
    </div>

    <div class="row mb-3">
        <a href="{{ path('timeslot_template_new', {'weekTemplate': week_template.id}) }}" class="btn btn-primary btn-sm" role="button"><i class="fas fa-plus"></i> créneaux</a>
    </div>

    <div>
    <div class="row align-items-start mb-3">
        {% for day in weekdays %}
        <div class="col text-center border-end">
            {{ day }}
        </div>
        {% endfor %}
    </div>
    <div class="row align-items-start">
        {% for day in weekdaysTimeslotTemplates %}
        <div class="col border-end">
            {% for timeslot in day %}
                <div class="card mb-3 ">
                    <div class="card-header">
                        <a href="{{ path('timeslot_template_edit', {'id': timeslot.id}) }}">{{ timeslot.name }}</a>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            {{ timeslot.start|date('H:i') }} à {{ timeslot.finish|date('H:i') }}<br />
                            {% for i in 1..timeslot.nbJob %}
                            <i class="fas fa-user"></i>
                            {% endfor %}
                            </br >
                            <a href="{{ path('timeslot_template_clone_new', {'id': timeslot.id}) }}" title="Dupliquer" class="btn btn-link"><i class="far fa-clone"></i></a>
                            {% include 'timeslot_template/_mini_delete_form.html.twig' with {'timeslot_template': timeslot} %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
