{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-users"></i> Membres <a href="{{ path('user_new') }}" class="btn btn-primary btn-sm" role="button"><i class="fas fa-plus"></i></a></h1>
    </div>

    {% include '_elements/_flashMessage.html.twig' %}

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Courriel</th>
                    <th>Categorie</th>
                    <th>Inscription</th>
                    <th>Identifiant</th>
                    <th>Telephone</th>
                    <th>Actif</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.userCategory.name }}</td>
                    <td>{{ user.subscriptionTypeLabel }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.phonenumber }}</td>
                    <td>{{ user.enabled?'Oui':'Non' }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-user-edit"></i></a>
                        <a href="{{ path('job_registration_new_foruser', {'user': user.id}) }}" title="inscription à un créneau"><i class="far fa-calendar-plus"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
    </div>

    
{% endblock %}
