{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-users"></i> Modification membre #{{user.id}}</h1>
    </div>

    {% include '_elements/_flashMessage.html.twig' %}

    <div class="table-responsive mb-3">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Courrier</th>
                    <td>{% if user.email %}<a href="mailto:{{user.email}}">{{ user.email }}</a>{% endif %}</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td>{{ user.phonenumber }}</td>
                </tr>
                <tr>
                    <th>Categorie</th>
                    <td>{{ user.userCategory.name }}</td>
                </tr>
                <tr>
                    <th>Inscription</th>
                    <td>{{ user.subscriptionTypeLabel }}</td>
                </tr>
                <tr>
                    <th>Actif</th>
                    <td>{{ user.enabled?'Oui':'Non' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center mb-3">
        <div class="btn-group mt-3">
            <a href="{{ path('user_index') }}" class="btn btn-secondary"><i class="fas fa-list"></i> Retour</a>
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary"><i class="fas fa-user-edit"></i> Modifier</a>
            {% if user.enabled %}
            <a href="{{ path('user_disable', {'id': user.id}) }}" class="btn btn-secondary">Desactiver</a>
            {% else %}
            <a href="{{ path('user_enable', {'id': user.id}) }}" class="btn btn-secondary">Activer</a>
            {% endif %}
        </div>
    </div>
    
    <h2 class="h3">
        <i class="fas fa-file-signature"></i> Engagements
        <a href="{{ path('commitment_contract_new_foruser', {'user': user.id}) }}" class="btn btn-primary btn-sm" role="button"><i class="fas fa-plus"></i></a>
    </h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Début</th>
                    <th>Fin</th>
                </tr>
            </thead>
            <tbody>
                {% for contract in user.commitmentContracts %}
                <tr>
                    <td>{{ contract.type?contract.type.name }}</td>
                    <td>{{ contract.start|date('d/m/Y') }}</td>
                    <td>{{ contract.finish?contract.finish|date('d/m/Y') }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">Aucun engagement</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </diV>



{% endblock %}
