{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-users"></i>Modification membre #{{user.id}}</h1>
    </div>

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Courrier</th>
                    <td>{% if user.email %}<a href="mailto:{{user.email}}">{{ user.email }}</a>{% endif %}</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td>{{ user.phonenumber }}</td>
                </tr>
                <tr>
                    <th>Categorie</th>
                    <td>{{ user.categoryLabel }}</td>
                </tr>
                <tr>
                    <th>Inscription</th>
                    <td>{{ user.subscriptionTypeLabel }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <div class="btn-group mt-3">
            <a href="{{ path('user_index') }}" class="btn btn-secondary"><i class="fas fa-list"></i> Retour</a>
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary"><i class="fas fa-user-edit"></i> Modifier</a>
        </div>
    </div>

{% endblock %}
