{% extends 'base.html.twig' %}

{% block title %}Créneau #{{ timeslot.id}}{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-calendar-alt"></i> Créneau "{{ timeslot.getDisplayName }}" - {{ timeslot.getDisplayDateInterval }}
            {% if timeslot.isOpen() %} <span class="badge badge-open">Ouvert</span>{% endif %}
            {% if timeslot.isClosed() %} <span class="badge badge-closed">Fermé</span>{% endif %}
            {% if timeslot.isValidated() %} <span class="badge badge-validated">Validé</span>{% endif %}
        </h1>
        <div class="">{{ timeslot.week.getDisplayName }}</div>
    </div>

    {% include '_elements/_flash_message.html.twig' %}

    <div class="table-responsive mb-3">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ timeslot.name }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ timeslot.timeslotType?timeslot.timeslotType.name}}
                </tr>
                <tr>
                    <th>Début</th>
                    <td>{{ timeslot.start|date('d/m/Y') }} à {{ timeslot.start|date('H:i') }}</td>
                </tr>
                <tr>
                    <th>Fin</th>
                    <td>{{ timeslot.finish|date('d/m/Y') }} à {{ timeslot.finish|date('H:i') }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ timeslot.description }}</td>
                </tr>
                <tr>
                    <th>Actif</th>
                    <td>{{ timeslot.enabled ? '<span class="text-success">Oui</span>' : '<span class="text-warning">Non</span>' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mb-3">
        <h3>Postes</h3>
    </div>



    <div class="table-responsive">
        <table class="jobs table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Membre</th>
                </tr>
            </thead>
            <tbody>
                {% for job in timeslot.jobs %}
                <tr class="{{ job.user?'bg-light-green':'bg-light-yellow'}}">
                    <td>
                    {% if job.manager %}<i class="fas fa-user-tie"></i>{% endif %}
                    {{job.user?job.user.firstName:'Libre'}} {{job.user?job.user.name}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="text-center">
        <div class="btn-group mt-3">
            <a href="{{ path('admin_week_show', {'id': timeslot.week.id }) }}" class="btn btn-outline-secondary"><i class="fas fa-calendar-week"></i> Semaine</a>
            <a href="{{ path('admin_timeslot_edit', {'id': timeslot.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i> Modifier</a>
            {% include 'admin/timeslot/_delete_form.html.twig' %}
            {% if workflow_can(timeslot, 'to_closed') %}
            <a href="{{ path('admin_timeslot_close', {'id': timeslot.id}) }}" class="btn btn-warning"><i class="fas fa-power-off"></i> Fermer</a>
            {% endif %}
            {% if workflow_can(timeslot, 'to_closed_open') %}
            <a href="{{ path('admin_timeslot_reopen', {'id': timeslot.id}) }}" class="btn btn-success"><i class="fas fa-power-off"></i> Ré-ouvrir</a>
            {% endif %}
            
        </div>
    </div>
{% endblock %}
